
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ead8c0;
}
.textoSecundario{
    text-align: center;
    padding: 32px;
    font-family: 'Times New Roman', Times, serif;
}

.btn-wsp{
    width: 7rem;
  position: fixed;
  bottom: 5%;
  right: 0;
}

.textoTerciario{
    text-align: center;
    font-size: 40px;
    padding: 32px;
    font-family: 'Times New Roman', Times, serif;
}


/* Sucursales */
/*Galeria*/
.img-gallery{
    width: 70%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 30px;
    
}

.img-gallery img{
    width: 80%;
    cursor: pointer;
    transition: 1s;
}

.img-gallery img:hover{
    transform: scale(1.2);

}
/*Galeria Js modal*/
.ful-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
    
}



.ful-img img{
    width: 90%;
    max-width: 500px;
}

.ful-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    .btn-wsp {
        width: 5.5rem;
      }
    }

@media screen and (max-width: 400px){
    .img-gallery{
        
        padding: 9%;
}
}